{% ckan_extends %}

{% block footer_content %}
    <div class="row">
      <div class="span12 footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
            <li><div class="welive-bio">WeLive Bio</div></li>
  <li><p>
      <img class="eu-logo" src="{{ h.url_for_static('/eu_commission.png') }}">
      <span>
          {% trans %}
          The information available on this website is a property of the contributing authors from the WeLive Consortium and does not necessarily reflect the view of the European Commission. The information in this website is provided "as is", and no guarantee or warranty is given that the information is fit for any particular purpose. The user uses the information at its sole risk and liability. The European Commission is also not responsible for any use that may be made of the information contained herein. This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement N° 645845.
          {% endtrans %}
      </span>
  </p></li>
  <li>
      <div class="span12 col1">
          <span class="project-info"><a href="/{% if h.lang() == 'sr_Latn' %}sr-latin{% else %}{{ h.lang() }}{% endif %}/info{% if c.userobj %}?login=true{% endif %}">{{ _('PROJECT INFO') }}</a></span> | <span class="project-info"><a href="/{% if h.lang() == 'sr_Latn' %}sr-latin{% else %}{{ h.lang() }}{% endif %}/terms{% if c.userobj %}?login=true{% endif %}">{{ _('TERMS OF USE') }}</a></span>
          <span class="social-media">
              <a href="https://www.facebook.com/weliveproject" target="_blank" class="white-text"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="margin-right: 10px;"></i> </a>
              <a href="https://www.linkedin.com/in/welive" target="_blank" class="white-text"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="margin-right: 10px;"></i> </a>
              <a href="https://twitter.com/weliveproject" target="_blank" class="white-text"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> </a>
          </span>
      </div>
  </li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="span4 attribution">
        {% block footer_lang %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
