{% ckan_extends %}

{% block header_account %}

{% set current_url = request.environ.CKAN_CURRENT_URL %}

{% if c.group %}
  {% set pilot = h.get_org_pilot(c.group) %}
{% elif c.pkg %}
  {% set pilot = h.get_pkg_pilot(c.pkg) %}
{% endif %}

{% if pilot == None %}
  {% set pilot = h.get_user_pilot(c.user) %}
{% endif %}

<nav class="white" role="navigation" id="welive-dockbar">
    <a class="logo-container" href="/">
        {% if pilot == 'Bilbao' %}
            <img src="{{ h.url_for_static_or_external('wl-logo_bilbao.png') }}" class="dock-logo"></img>
        {% elif pilot == 'Trento' %}
            <img src="{{ h.url_for_static_or_external('wl-logo_trento.png') }}" class="dock-logo"></img>
        {% elif pilot == 'Uusimaa' %}
            <img src="{{ h.url_for_static_or_external('wl-logo_helsinki-uusimaa.png') }}" class="dock-logo"></img>
        {% elif pilot == 'Novisad' %}
            <img src="{{ h.url_for_static_or_external('wl-logo_novi-sad.png') }}" class="dock-logo"></img>
        {% else %}
            <img src="{{ h.url_for_static_or_external('wl-logo.png') }}" class="dock-logo"></img>
        {% endif %}
        <!-- <span class="text-pilot" id="textPilot">Bilbao</span> -->
    </a>
    <ul class="dock-menu">
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ _('Help') }} <i class="icon-caret-down"></i></a>
                <ul class="dropdown-menu dropdown-content" role="menu">
                      <li><a href="/user-guide">{{ _('Guide') }}</a></li>
                      <li><a href="/faq">{{ _('F.A.Q.') }}</a></li>
                      <li><a href="/contactus">{{ _('Contact Us') }}</a></li>
                </ul>
            </div>
        </li>
        <!-- <li><a href="">{{ _('Terms of Use') }}</a></li>-->
        <li>
            <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ _('Tools') }} <i class="icon-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-content" role="menu">
                          <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='home') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ _('Home') }}</a></li>
                          <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='oia') }}"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{ _('Ideation board') }}</a></li>
                          <!--{% if h.is_developer() %}
                            <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='vc') }}"><i class="fa fa-cubes" aria-hidden="true"></i> {{ _('Visual Composer') }}</a></li>
                          {% endif %}-->
                          {% if h.is_developer() or h.is_authority() %}
                              <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='ods') }}"><i class="fa fa-database" aria-hidden="true"></i> {{ _('Datasets') }}</a></li>
                          {% endif %}
                          {% if h.is_developer() or h.is_authority() %}
                              <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='vc') }}"><i class="fa fa-cubes" aria-hidden="true"></i> {{ _('Service Composer') }}</a></li>
                          {% endif %}
                          <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='mkt') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ _('Services') }}</a></li>
                          {% if c.userobj %}
                            <li><a href="{{ h.url_for(controller='ckanext.welive_theme.controller:WeLiveThemeController', action='welive_redirect', id='ads') }}"><i class="fa fa-pie-chart" aria-hidden="true"></i> {{ _('Charts') }}</a></li>
                          {% endif %}
                    </ul>
            </div>
        </li>
        {% if c.userobj %}
            <li>
                {% set new_activities = h.new_activities() %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}"><span class="dock-notifications {% if new_activities > 0 %} dock-notifications-important {% endif %}">{{ new_activities }}</span></a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{  h.get_welive_avatar(c.userobj.name) }} {{ h.get_display_name() }} <i class="icon-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-content" role="menu">
                          <li><a href="/overlay?p_p_auth=1SV8dvvE&p_p_id=49&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&_49_struts_action=%2Fmy_sites%2Fview&_49_groupId=16528&_49_privateLayout=false%login=true"><i class="fa fa-users" aria-hidden="true"></i> {{ _('Social') }}</a></li>
                          <li><a href="{{  h.url_for(controller='user', action='read', id=c.userobj.name) }}"><i class="fa fa-user" aria-hidden="true"></i> {{ _('My Account') }}</a></li>
                          <li><a href="{{  h.url_for(controller='user', action='logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i> {{ _('Sign Out') }}</a></li>
                    </ul>
                </div>
            </li>
        {% else %}
            <li><a href="{{ h.url_for(controller='user', action='login') }}"><i class="right fa fa-sign-in fa-2x" aria-hidden="true" style="margin-left: 15px; line-height: 64px;"></i> {{ _('Sign In') }}</a></li>
        {% endif %}
        <li>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons" style="line-height: 64px;">translate</i></a>
                <ul class="dropdown-menu dropdown-content" role="menu" style="margin-left: -110px;">
                    {% for locale in h.get_available_locales() %}
                        <li><a href="{% url_for current_url, locale=locale %}">{{ locale.display_name or locale.english_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}

{% block header_logo %}
    <a class="logo" href="{{ h.url('home') }}" id="welive-mobile-logo"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}"/></a>
{% endblock %}
