{% ckan_extends %}

{% block disclaimer %}
        <label class="checkbox" style="text-align: left;">
            <input type="checkbox" id="terms"> Please confirm that one of the following conditions are fulfilled:
                <ol type="a">
                    <li>{% trans %}If the dataset is imported from an external source, ensure that you have checked that the license of the imported dataset allows for its management within WeLive.{% endtrans %}</li>
                    <li>{% trans %}Alternatively, in case of being a newly created dataset by you, confirm that you have read the {% endtrans %} <a href="/{% if h.lang() == 'sr_Latn' %}sr-latin{% else %}{{ h.lang() }}{% endif %}/terms{% if c.userobj %}?login=true{% endif %}">{{ _('Terms of Use') }}</a>.</li>
                </ol>
        </label>
    {{ super() }}
{% endblock %}

{% block save_button %}
    {% resource 'welive_theme/terms.js' %}
    <button class="btn btn-primary" type="submit" name="save" id="save" disabled>{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
{% endblock %}
