.account-masthead {
    background-color: rgb(52, 51, 51);
    color: rgb(255, 255, 255);
}

.account-masthead .account ul li a {
  color: rgb(255, 255, 255);
}

.account-masthead .account ul li a:hover {
  background-color: rgb(80, 80, 80);
}

.homepage .module-search .module-content {
  background-color: rgb(52, 51, 51);
}

.homepage .module-search .tags {
  background-color: rgb(52, 51, 51);
}

.site-footer {
  background: rgb(52, 51, 51);
}

.masthead {
  min-height: 55px;
  color: #ffffff;
  background: rgb(255, 255, 255) url("../../../base/images/bg.png");
  padding-top: 5px;
  padding-bottom: 5px;
}

.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
  color: rgb(52, 51, 51)
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: rgb(207, 207, 207);
}

.account-masthead .account .notifications a span.badge {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

body {
    background: rgb(252, 252, 252);
}

@media (min-width: 768px) {
    .hero {
        background: rgb(252, 252, 252);
    }
}

.logo-container {
    font-size: smaller;
    height: 100%;
    line-height: 64px;
    margin: 0 0 0 10px;
    padding: 0 10px;

    white-space: nowrap;

    font-weight: 400;
}

.dock-logo {
    max-height: 80%;
}

@media screen and (max-width: 600px) {
    #welive-dockbar {
        visibility: hidden;
        clear: both;
        display: none;
    }
}

@media screen and (min-width: 600px) {
    #welive-mobile-logo {
        visibility: hidden;
    }
}

.white {
    height: 64px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
}

.dock-menu {
    float: right !important;
    font-family: "Roboto",​sans-serif;
    font-size: 14px;
}

.dock-menu li {
    float: left;
    list-style-type: none;

    transition: background-color .3s;
}

.dock-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dock-menu li a {
    line-height: 64px;
    font-weight: 400;

    transition: background-color .3s;
    /*font-size: 1rem;*/
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    color: #040404;

    text-decoration: none;
}

.dropdown-content li > a {
    font-size: 16px;
    color: #6FAFDA;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.icon-caret-down {
    margin-left: 15px;
}

.dropdown-content li {
    display: block;
    width: 100%;
    text-align: left;
    text-transform: none;
}

.dropdown-content li:hover {
    background-color: #eee;
}

.dropdown-content li > a:hover {
    background-color: rgba(21, 20, 20, 0.1);
    color: #6FAFDA;
    background-image: none;
}

.right {
    float: right !important;
}

.gravatar-dock {
    border-radius: 50%;
    border: 2px solid black;
}

.dock-notifications {
    border-radius: 2px;
    border: 2px solid black;
    padding: 5px;
}

.dock-notifications-important {
    background-color: red;
}

.box {
    background-image: url("../../../banner.png");
}

.breadcrumb {
    color: grey;
}

.toolbar .breadcrumb a {
    color: #505050;
}

.toolbar .breadcrumb li:after {
    content: " / ";
    color: #505050;
}

.site-footer {
    background: #6FAFDA;
    color: #ffffff;
}

.welive-bio {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    font-weight: 400;
    color: #f5f5f5 !important;
    font-family: 'Roboto',sans-serif;
}

.eu-logo {
    height: 46px;
    width: 66px;
    float: left;
    margin-right: 10px;
}

.project-info {
    width: 66.66667%;
    left: auto;
    right: auto;
    font-weight: 400;
    color: #FFFFFF !important;
    font-family: 'Roboto',sans-serif;
}

.social-media {
    color: #FFFFFF !important;
    float: right;
}

.text-pilot {
    left: 5%;
    top: 5%;
    position: relative;;
    font-family: 'Roboto',sans-serif;
    color: #000000 !important;
    font-weight: 300;
}
