{% trans %}
<p>Welcome to WeLive's Open Data Stack. In this portal, the datasets from Bilbao, Novi Sad, Helsinki-Uusima and Trento are managed. WeLive’s ODS component deals with some of the challenges associated when tackling Broad Data, i.e. the knowledge of a city in the form of multiple data sources in different formats. In particular, the ODS component addresses the:
<ul>
    <li>Combination of social data, open government data and even user-generated data.</li>
    <li>Access, integration, query and verification of heterogeneous datasets.</li>
    <li>Management of data related entities: datasets, resources, data producers, data consumers, etc.</li>
</ul>
WeLive’s ODS has adapted CKAN technology, version 2.4.1, which already offers the following useful functionality for tackling Broad Data:
<ul>
    <li>User management</li>
    <li>Datasets and resources metadata management.</li>
    <li>Extensible web interface</li>
    <li>Extensible API access.</li>
</ul>
However, the basic functionality provided by CKAN has been extended to solve ODS specific requirements. Concretely:
<ul>
    <li>Querying heterogeneous datasets/resources through standards SQL to streamline Broad Data consumption and prosumption</li>
    <li>Data harvesting and transformation of unstructured datasets into structured datasets</li>
    <li>Storage of Broad Data including user-generated data</li>
    <li>Periodic data verification of datasets and rating</li>
    <li>Improved authentication and theming of CKAN interface to the look and feel of WeLive’s web interface</li>
</ul>
There is a <a href="/documentation/">user manual</a> available and a public <a href="/dev/swagger/">API</a> for programmatic usage of the Open Data Stack.</p>

<p>WeLive is an EU H2020 funded project, addressing ICT-enabled open government – INSO1 topic, about a new concept of public administration based on citizen co-created mobile urban services.</p>

<p>The project is conceived to transform the current approach towards e-government by providing a new open model oriented towards the design, production and deployment of public services based in the collaboration of a quadruple helix, i.e. research organizations, companies, public administrations and citizens. WeLive will provide a novel We-Government ecosystem of tools (Live) built on the Open Data, Open Services and Open  Innovation paradigms that is easily deployable in different public administrations and which promotes co-innovation and co-creation of personalized public services through public-private partnership and the  empowerment of all the stakeholders to actively take part in the value-chain of a municipality or a territory.</p>

<p>More info at <a href="http://welive.eu">welive.eu</a></p>
{% endtrans %}
