{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to Open Data Stack") }}</h1>
      <p>
        {% trans %}
            Welcome to WeLive's Open Data Stack. In this portal, the datasets from Bilbao, Novi Sad, Helsinki-Uusima and Trento are managed. WeLive’s ODS component deals with some of the challenges associated when tackling Broad Data, i.e. the knowledge of a city in the form of multiple data sources in different formats. In particular, the ODS component addresses the:
            <ul>
                <li>Combination of social data, open government data and even user-generated data.</li>
                <li>Access, integration, query and verification of heterogeneous datasets.</li>
                <li>Management of data related entities: datasets, resources, data producers, data consumers, etc.</li>
            </ul>
            WeLive’s ODS has adapted CKAN technology, version 2.4.1. <a href="about">Read more...</a>
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
  <section class="featured media-overlay hidden-phone">
    {% block home_image_content %}
      <a class="media-image" href="http://welive.eu">
        <img src="{{ h.url_for_static('/wl-logo.png') }}" alt="Placeholder" width="420" height="220" />
      </a>
    {% endblock %}
  </section>
{% endblock %}
</div>
